# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env

# Flask
instance/
.flaskenv

# Cachés
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Cobertura
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/